<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%} {%endblock%}</title>
    {%load static%}
    <link rel ="stylesheet" type ="text/css" href ="{%static 'static/main/css/base.css'%}">
    <link rel ="stylesheet" type ="text/css" href ="{%static 'static/main/css/home.css'%}">
    <link rel ="stylesheet" type ="text/css" href ="{%static 'static/main/css/testo.css'%}">
</head>
</head>
<body>
    <div class="hat">
    <img scr="{%static 'main/image/logo.jpg'%}">
    <nav>
        <a href="/">Фильмы </a>
        <a href="https://vk.com/">Мы в соц сетях</a>
        <a href="/admin">Вход</a>
    </nav>
        </div>
    {%block content%} {%endblock%}
</body>
</html>